@import 'tailwindcss';
@import 'tw-animate-css';
@import './variables.css';
@import './doodle/index.css';
@import './animations.css';

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  html,
  body {
    @apply bg-background text-foreground overflow-hidden;
  }
}
